* {
    padding: 0;
    margin: 0;
}

.card {
    max-width: 300px;
    max-height: 450px;
}

.card-title {
    color: #212541;
    font-size: 20px;
    font-weight: 400;
}

.card-text {
    font-size: 15px;
    color: #707070;
    font-weight: 300;
}


section {
    width:100%;
    background-color:#198754;
}


.form >h2 {
    color:#FFFFFF;
    display: flex;
    justify-content: center;
}

footer {
    display:flex;
    display: flex;
    justify-content: center;
    text-align: center;
    align-items: center;
}


footer > p{
    font-size: 16px;
    font-weight: 300;
    color: #707070;

}